# Gradle
.gradle/
build/

# Android Studio / IntelliJ
*.iml
.idea/
.cxx/
.externalNativeBuild/
captures/

# Локальные настройки
local.properties

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Keystore
*.jks
*.keystore
keystore.properties

# Файлы Firebase
google-services.json